@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/dvt6pwk.css");
/* @font-face {
    font-family: 'Poppins';
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
} */
html {
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

/* .container {
	overflow-x: hidden;
} */

/* NAV */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 10px;
}
.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrap img {
    width: 200px;
}
nav {
    display: block;
}
.header-menu-links {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
}
/* .header-menu-links a:hover {
    color: #F0D738;
} */
.header-menu-links a:last-child {
    margin-left: 60px;
}

/* TITLE-BAR */
.title-bar .title {
    padding-top: 262px;
    margin-left: 203px;
    color: #AAAAAA;
    font-weight: 500;
    font-style: italic;
}
.title-bar p {
    display: none;
}

/* MENUS */

    /* HANGSUNG */
.menus .p1 {
    display: flex;
    align-items: center;
}
.menus .p1 .l1 {
    width: 70vw;
    height: 2px;
    margin-left: 52px;
    margin-right: 22px;
    background-color: #AAAAAA;
}
.menus .p1 h1 {
    font-size: 90px;
    font-weight: 900;
    margin-left: 203px;
}
.menus .p1 p {
    color: #AAAAAA;
    font-size: 32px;
    font-weight: 300;
    margin-right: 203px;
}
/* .menus .p1:hover {
    background-color: #08B681;
    color: #404040;
} */

    /* SMVIEW */
.menus .p2 {
    display: flex;
    align-items: center;
}
.menus .p2 .l2 {
    width: 70vw;
    height: 2px;
    margin-left: 52px;
    margin-right: 22px;
    background-color: #AAAAAA;

}
.menus .p2 h1 {
    font-size: 90px;
    font-weight: 900;
    margin-left: 203px;
}
.menus .p2 p {
    color: #AAAAAA;
    font-size: 32px;
    font-weight: 300;
    margin-right: 203px;
}
.menus .p2 p span {
    font-size: 24px;
    font-weight: 400;
}
/* .menus .p2:hover {
    background-color: #FDD9DC;
    color: #ffffff;
} */

    /* A STAR IS BORN */
.menus .p3 {
    display: flex;
    align-items: center;
}
.menus .p3 .l3 {
    width: 70vw;
    height: 2px;
    margin-left: 52px;
    margin-right: 22px;
    background-color: #AAAAAA;

}
.menus .p3 h1 {
    font-size: 90px;
    font-weight: 900;
    margin-left: 203px;
}
.menus .p3 p {
    color: #AAAAAA;
    font-size: 32px;
    font-weight: 300;
    margin-right: 203px;
}
/* .menus .p3:hover {
    background-color: #1b1b1b;
    color: #DBA731;
} */

    /* CHUNGMI-DONG */
.menus .p4 {
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.menus .p4 .l4 {
    width: 70vw;
    height: 2px;
    margin-left: 52px;
    margin-right: 22px;
    background-color: #AAAAAA;

}
.menus .p4 h1 {
    font-size: 90px;
    font-weight: 900;
    margin-left: 203px;
}
.menus .p4 p {
    color: #AAAAAA;
    font-size: 32px;
    font-weight: 300;
    margin-right: 203px;
}
/* .menus .p4:hover {
    background-color: #1FAFFF;
    color: #ffc000;
} */

    /* IOHYUNMINKIM */
.menus .p5 {
    display: flex;
    align-items: center;
}
.menus .p5 .l5 {
    width: 70vw;
    height: 2px;
    margin-left: 52px;
    margin-right: 22px;
    background-color: #AAAAAA;

}
.menus .p5 h1 {
    font-size: 90px;
    font-weight: 900;
    margin-left: 203px;
}
.menus .p5 p {
    color: #AAAAAA;
    font-size: 32px;
    font-weight: 300;
    margin-right: 203px;
}
.menus .p5 p span {
    font-size: 24px;
    font-weight: 400;
}
/* .menus .p5:hover {
    background-color: #DADADA;
    color: #277043;
} */

    /* STUDIO DRAGON */
.menus .p6 {
    display: flex;
    align-items: center;
}
.menus .p6 .l6 {
    width: 70vw;
    height: 2px;
    margin-left: 52px;
    margin-right: 22px;
    background-color: #AAAAAA;

}
.menus .p6 h1 {
    font-size: 90px;
    font-weight: 900;
    margin-left: 203px;
}
.menus .p6 p {
    color: #AAAAAA;
    font-size: 32px;
    font-weight: 300;
    margin-right: 203px;
}
.menus .p6 p span {
    font-size: 24px;
    font-weight: 400;
}
/* .menus .p6:hover {
    background-color: #212322;
    color: #A6192E;
} */

    /* ARTWORKS */
.menus .p7 {
    display: flex;
    align-items: center;
}
.menus .p7 .l7 {
    width: 70vw;
    height: 2px;
    margin-left: 52px;
    margin-right: 22px;
    background-color: #AAAAAA;

}
.menus .p7 h1 {
    font-size: 90px;
    font-weight: 900;
    margin-left: 203px;
}
.menus .p7 p {
    color: #AAAAAA;
    font-size: 32px;
    font-weight: 300;
    margin-right: 203px;
}
/* .menus .p7:hover {
    background-color: #5018e9;
    color: #fc8ce3;
} */

/* END-LINE */
.line-container {
    width: 100%;
}
.end-line {
    display: block;
    text-align: center;
    margin: 313px auto 0 auto;
    width: 80vw;
    height: 2px;
    background-color: #000000;
}
.end-line p {
    display: none;
}

/* WAVE */
/* .wave-container {
    opacity: 0;
    position: absolute;
    font-size: 0;
    bottom: 0;
    left: 0;
    background-color: #FDD9DC;
    width: 100%;
    height: 1vh;
}
.wave01{
    width: 4000px;
    height: 200px;
    background:url("../images/p2svg.svg");
    background-size: 4000px 200px;
    background-position: 0 0;
    left:-800px;
    animation:wave01Ani 5s infinite linear both;
    animation-direction: normal;
    position:absolute;
    bottom:0;
    z-index: 500;

}
.wave02{
    width: 4000px;
    height: 200px;
    background:url("../images/p2svg_s.svg");
    background-size:4000px 200px;
    background-position: 0 0;
    left:-800px;
    animation:wave01Ani 7s infinite linear both;
    animation-direction: alternate-reverse;
    position:absolute;
    bottom:0;
    opacity:1;

}
@keyframes wave01Ani{
    0%{
        left:-500px;
    }
    100%{
        left:0;
    }
} */

/* IMAGE CONTAINER */
.menu-wrap {
    position: relative;
  }
  
  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
  }
  .menu:hover li a {
    opacity: .2;
  }
  .menu li {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .menu li:hover a {
    color: crimson;
    opacity: 1;
  }
  .menu li:hover span.slogan {
    opacity: 1;
  }
  .menu li.active a {
    color: crimson;
  }
  .menu li.active span.slogan {
    color: #4a4a4a;
    opacity: 1;
  }
  .menu li a {
    display: block;
    padding: 0 2rem 2rem;
    font-size: 4rem;
    color: #4a4a4a;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: .04em;
    -webkit-transition: color .25s ease, opacity .25s ease;
    transition: color .25s ease, opacity .25s ease;
  }
  .menu li span.slogan {
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 2rem;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .05em;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
.image-container {
    opacity: 0;
    background: #000;
    position: fixed;
    width: 600px;
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: -1;
    overflow: hidden;
}
.image-container:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 56.25%;
}
.image-container.visible {
    opacity: 1;
}
.image-container .image {
    opacity: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
}
.image-container .image.visible {
    opacity: 1;
}
.image-container .image > img {
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
}

/* LOADING */

.p1-loading {
    opacity: 0;
    position: absolute;
    font-size: 0;
    bottom: 0;
    left: 0;
    background-color: #08B681;
    width: 100%;
    height: 1vh;
}
.p2-loading {
    opacity: 0;
    position: absolute;
    font-size: 0;
    bottom: 0;
    left: 0;
    background-color: #FDD9DC;
    width: 100%;
    height: 1vh;
}
.p3-loading {
    opacity: 0;
    position: absolute;
    font-size: 0;
    bottom: 0;
    left: 0;
    background-color: #1b1b1b;
    width: 100%;
    height: 1vh;
}
.p4-loading {
    opacity: 0;
    position: absolute;
    font-size: 0;
    bottom: 0;
    left: 0;
    background-color: #1FAFFF;
    width: 100%;
    height: 1vh;
}
.p5-loading {
    opacity: 0;
    position: absolute;
    font-size: 0;
    bottom: 0;
    left: 0;
    background-color: #DADADA;
    width: 100%;
    height: 1vh;
}
.p6-loading {
    opacity: 0;
    position: absolute;
    font-size: 0;
    bottom: 0;
    left: 0;
    background-color: #212322;
    width: 100%;
    height: 1vh;
}
.p7-loading {
    opacity: 0;
    position: absolute;
    font-size: 0;
    bottom: 0;
    left: 0;
    background-color: #5018e9;
    width: 100%;
    height: 1vh;
}



/* FOOTER */

.footer {
    display: flex;
    margin-left: 203px;
    color: #AAAAAA;
    margin-top: 90px;
    margin-bottom: 90px;
}
.footer .name h2 {
    color: #000000;
    font-weight: 600;
    font-size: 48px;
}
/* .footer .contact h2 {
    margin-left: 77px;
    font-weight: 300;
    font-size: 28px;
}
.footer .contact h2:last-child {
    margin-top: -30px;
} */
.footer .contact h2 {
    margin-left: 77px;
    font-weight: 300;
    font-size: 28px;
    margin-top: -30px;
}
.footer .contact img {
    width: 28px;
    height: 28px;
    margin-bottom: -4px;
    margin-right: 12px;
}
.footer .contact h2:first-child {
    margin-top: 20px;
}
/* .footer .contact h2:last-child {
    margin-top: -30px;
} */
.footer .resume {
    width: 320px;
    height: 62px;
    border: solid 3px #202020;
    /* background-color: #202020; */
    cursor: url(../images/cursor_2.png), auto;
}
.footer .resume h3 {
    font-size: 2rem;
    text-align: center;
    line-height: 62px;
    font-weight: 600;
    color: #202020;
}

/* 1025 to 1540 LAPTOP */
@media (min-width: 1025px) and (max-width: 1540px) {
    /* TITLE-BAR */
    .title-bar .title {
        padding-top: 262px;
        margin-left: 80px;
        color: #AAAAAA;
        font-weight: 500;
        font-style: italic;
    }
    .title-bar p {
        display: none;
    }
    /* HANGSUNG */
    .menus .p1 h1 {
        margin-left: 80px;
    }
    .menus .p1 p {
        margin-right: 80px;
    }
    .menus .p2 h1 {
        margin-left: 80px;
    }
    .menus .p2 p {
        margin-right: 80px;
    }
    .menus .p3 h1 {
        margin-left: 80px;
    }
    .menus .p3 p {
        margin-right: 80px;
    }
    .menus .p4 h1 {
        margin-left: 80px;
    }
    .menus .p4 p {
        margin-right: 80px;
    }
    .menus .p5 h1 {
        margin-left: 80px;
    }
    .menus .p5 p {
        margin-right: 80px;
    }
    .menus .p6 h1 {
        margin-left: 80px;
    }
    .menus .p6 p {
        margin-right: 80px;
    }
    .menus .p7 h1 {
        margin-left: 80px;
    }
    .menus .p7 p {
        margin-right: 80px;
    }
    /* END-LINE */ 
    .end-line {
        margin: 150px auto 0 auto;
    }
    /* FOOTER */
    .footer {
        margin-left: 10%;
    }
} 
    /* 768 to 1024 TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    /* TITLE-BAR */
    .title-bar .title {
        padding-top: 262px;
        margin-left: 80px;
        color: #AAAAAA;
        font-weight: 500;
        font-style: italic;
    }
    .title-bar p {
        display: none;
    }
    /* HANGSUNG */
    .menus .p1 h1 {
        margin-left: 80px;
        font-size: 3.5rem;
    }
    .menus .p1 p {
        margin-right: 80px;
        font-size: 1.5rem;
    }
    .menus .p2 h1 {
        margin-left: 80px;
        font-size: 3.5rem;
    }
    .menus .p2 p {
        margin-right: 80px;
        font-size: 1.5rem;
    }
    .menus .p3 h1 {
        margin-left: 80px;
        font-size: 3.5rem;
    }
    .menus .p3 p {
        margin-right: 80px;
        font-size: 1.5rem;
    }
    .menus .p4 h1 {
        margin-left: 80px;
        font-size: 3.5rem;
    }
    .menus .p4 p {
        margin-right: 80px;
        font-size: 1.5rem;
    }
    .menus .p5 h1 {
        margin-left: 80px;
        font-size: 3.5rem;
    }
    .menus .p5 p {
        margin-right: 80px;
        font-size: 1.5rem;
    }
    .menus .p6 h1 {
        margin-left: 80px;
        font-size: 3.5rem;
    }
    .menus .p6 p {
        margin-right: 80px;
        font-size: 1.5rem;
    }
    .menus .p7 h1 {
        margin-left: 80px;
        font-size: 3.5rem;
    }
    .menus .p7 p {
        margin-right: 80px;
        font-size: 1.5rem;
    }
    /* END-LINE */ 
    .end-line {
        margin: 150px auto 0 auto;
    }
    /* FOOTER */
    .footer {
        margin-left: 10%;
    }
}
/* 0 to 767px MOBILE */
@media (max-width: 768px) {
    .header-wrap img {
        width: 150px;
    }
    .header-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .header-menu-links {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        text-align: right;
        margin-top: 10px;
    }
    .header-menu-links a:last-child {
        margin-left: 0;
    }
    .title-bar .title {
        padding-top: 150px;
        margin-left: 20px;
        font-size: 0.9rem;
        color: #AAAAAA;
        font-weight: 500;
        font-style: italic;
    }
    /* HANGSUNG */
    .menus .p1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .menus .p1 .l1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .menus .p1 h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-left: 20px;
    }
    .menus .p1 p {
        color: #AAAAAA;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 20px;
    }
    .menus .p1:hover {
        background-color: #08B681;
        color: #404040;
    }
    /* SMVIEW */
    .menus .p2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .menus .p2 .l2 {
        width: 58vw;
        margin-left: 20px;
        margin-right: 20px;
    }
    .menus .p2 h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-left: 20px;
    }
    .menus .p2 p {
        color: #AAAAAA;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 20px;
    }
    .menus .p2 p span {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .menus .p2:hover {
        background-color: #FDD9DC;
        color: #ffffff;
    }
    /* A STAR IS BORN */
    .menus .p3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .menus .p3 .l3 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .menus .p3 h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-left: 20px;
    }
    .menus .p3 p {
        color: #AAAAAA;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 20px;
    }
    .menus .p3:hover {
        background-color: #1b1b1b;
        color: #DBA731;
    }
    /* CHUNGMI-DONG */
    .menus .p4 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
    }
    .menus .p4 .l4 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .menus .p4 h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-left: 20px;
    }
    .menus .p4 p {
        color: #AAAAAA;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 20px;
    }
    .menus .p4:hover {
        background-color: #1FAFFF;
        color: #DCC10D;
    }
    /* IOHYUNMINKIM */
    .menus .p5 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .menus .p5 .l5 {
        width: 58vw;
        margin-left: 20px;
        margin-right: 20px;
    }
    .menus .p5 h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-left: 20px;
    }
    .menus .p5 p {
        color: #AAAAAA;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 20px;
    }
    .menus .p5 p span {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .menus .p5:hover {
        background-color: #DADADA;
        color: #277043;
    }
    /* STUDIO DRAGON */
    .menus .p6 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .menus .p6 .l6 {
        width: 58vw;
        margin-left: 20px;
        margin-right: 20px;
    }
    .menus .p6 h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-left: 20px;
    }
    .menus .p6 p {
        color: #AAAAAA;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 20px;
    }
    .menus .p6 p span {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .menus .p6:hover {
        background-color: #212322;
        color: #A6192E;
    }
    /* ARTWORKS */
    .menus .p7 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .menus .p7 .l7 {
        width: 38vw;
        margin-left: 20px;
        margin-right: 20px;
    }
    .menus .p7 h1 {
        font-size: 2rem;
        font-weight: 900;
        margin-left: 20px;
    }
    .menus .p7 p {
        color: #AAAAAA;
        font-size: 1rem;
        font-weight: 300;
        margin-right: 20px;
    }
    .menus .p7:hover {
        background-color: #5018e9;
        color: #fc8ce3;
    }
    /* END-LINE */
    .line-container {
        width: 100%;
    }
    .end-line {
        display: block;
        text-align: center;
        margin: 100px auto 0 auto;
        width: 80vw;
        height: 2px;
        background-color: #000000;
    }
    .footer {
        display: flex;
        margin: 0 20px;
        color: #AAAAAA;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content: space-between;
    }
    .footer .name h2 {
        color: #000000;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.2;
    }
    .footer .contact h2 {
        margin-left: 20px;
        font-weight: 300;
        font-size: 0.9rem;
    }
} 
    